body {
    font-family: sans-serif;
}

#container {
    display: flex;
    width: 400px;
    border: 1px solid black;
}

#container div {
    flex-basis: 150px;
}

.box1 {
    background-color: yellow;
    flex-shrink: 1;
}

.box2 {
    background-color: blue;
    flex-shrink: 2;
}

